
<h1>Categories</h1>
<% if  current_user.try(:admin?) %>
<%= link_to 'New Category', new_category_path %> |
<%= link_to 'Manage Categories', manage_categories_path %>
<% end %>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Parent</th>
      <th>Children</th>
      <th>Number Of Products</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.title, category %></td>
        <td><%= category.has_parent? ? link_to(category.parent.title, category.parent) : 'no parent'  %></td>
        <td>
          <% if category.has_children?  %>
            <% category.children.each do |ch|  %>
         	  <%= link_to ch.title, ch  %>
         	<% end %>
          <% else %>
            no child
          <% end %>
        </td>
        <td><%= category.products.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


