<h2> <%= @category.title %> </h2>
<% if @products.exists? %>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Direct Parent</th>

    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.title, product %></td>
        <td><%= product.description %></td>
        <th><%= link_to product.category.title, product.category if product.category%></th>


      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<h4> There is no products </h4>
<% end %>
<% if current_user.try(:admin?) %>
  <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'Destroy', @category, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
  <%= link_to 'Back', categories_path %>

