
<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<%= image_tag @product.image.url(:large) if @product.image? %>


<p>
  <strong>Category:</strong>
  <%= link_to @product.category.title, @product.category if @product.category%>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
